In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 1. Import data

In [1]:
path = r'C:\Users\Yan Peng\10-2020 Instacart Basket Analysis'

In [3]:
# Import df_combined
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_combined.shape

(32434489, 10)

In [7]:
df_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
# Import df_prods
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'),  index_col = 0)

In [16]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
df_prods.shape

(49672, 5)

# 2. Combine df_combined with df_prods

In [18]:
# Merge both dataframes using left join
df_merged = df_combined.merge(df_prods, how = 'left', on = 'product_id', indicator = '_merge2')

In [19]:
df_merged.shape

(32435059, 15)

##### Left join is used to keep every record of product order regardless if there is a matching product ID in df_prods or not.

In [10]:
# Merge specifics
df_merged['_merge2'].value_counts()

_merge2
both          32404859
left_only        30200
right_only           0
Name: count, dtype: int64

In [20]:
# Find missing values
df_merged.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2078102
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
product_name                30200
aisle_id                    30200
department_id               30200
prices                      30200
_merge2                         0
dtype: int64

##### Number of missing values (from "product_name" to "prices") ties in with number of rows containing only data from the left dataframe.

In [21]:
# Check before export
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,_merge2
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

# 3. Export data

In [22]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))