In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 1. Importing data

In [2]:
path = r'C:\Users\Yan Peng\10-2020 Instacart Basket Analysis'

In [3]:
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df_merged.shape

(32435059, 15)

# 2. Deriving new column with loc() function

In [9]:
# Derive "price_label" based on three price categories

df_merged.loc[df_merged['prices'] > 15, 'price_label'] = 'High-range product'

In [10]:
df_merged.loc[(df_merged['prices'] <= 15) & (df_merged['prices'] > 5), 'price_label'] = 'Mid-range product'

In [11]:
df_merged.loc[df_merged['prices'] <= 5, 'price_label'] = 'Low-range product'

In [13]:
# Count number of products within each label

df_merged['price_label'].value_counts(dropna = False)

price_label
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: count, dtype: int64

# 3. Deriving new column with for-loop

## 3.1 Column "busiest_day"

In [14]:
# Count number of orders for each weekday

df_merged['orders_day_of_week'].value_counts()

orders_day_of_week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [15]:
# Create a list with three values assigned to the corresponding weekdays for all data entries

result = []

for value in df_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [16]:
# Add list as a column to the dataframe

df_merged['busiest_day'] = result

In [18]:
# Count number of orders within each label

df_merged['busiest_day'].value_counts()

busiest_day
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

## 3.2 Column "busiest_days"

In [19]:
# Create a list with three values assigned to the corresponding weekdays for all data entries

result = []

for value in df_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 3 or value ==4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [20]:
# Add list as a column to the dataframe

df_merged['busiest_days'] = result

In [21]:
# Count number of orders within each label

df_merged['busiest_days'].value_counts()

busiest_days
Regularly busy    12927862
Busiest days      11875759
Least busy         7631438
Name: count, dtype: int64

## 3.3 Column "busiest_period_of_day"

In [22]:
# Count number of orders for each hour of the day

df_merged['order_hour_of_day'].value_counts()

order_hour_of_day
10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: count, dtype: int64

In [23]:
# Save the frequency list in a dataframe and calculate the quartiles

df_order_of_hour = df_merged['order_hour_of_day'].value_counts()

In [24]:
df_order_of_hour.describe()

count    2.400000e+01
mean     1.351461e+06
std      1.079380e+06
min      5.132100e+04
25%      2.728348e+05
50%      1.118232e+06
75%      2.558354e+06
max      2.764476e+06
Name: count, dtype: float64

In [25]:
# Create two lists containing the busiest hours (above Q3) and the slowest (below Q1) respectively

most = [10, 11, 14, 15, 13, 12]
fewest = [0, 1, 5, 2, 4, 3]

In [26]:
# Create a list with three values assigned to the corresponding hours of day for all data entries

result = []

for value in df_merged["order_hour_of_day"]:
  if value in most:
    result.append("Most orders")
  elif value in fewest:
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [27]:
# Add the list as a column to the dataframe

df_merged['busiest_period_of_day'] = result

In [29]:
# Count number of orders within each category

df_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       16143548
Average orders    15694669
Fewest orders       596842
Name: count, dtype: int64

In [30]:
# Check updated dataframe before export

df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,_merge2,price_label,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders

# 4. Export data

In [31]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_derived.pkl'))